<h3>Sobre mí (Biografía académica)</h3>
<div class="row">
<div class="col-md-7">

    <p style="text-align: justify;">
        Gracias por tu interés en conocer algo más sobre mí, así que veamos que te puedo contar.
    </p>

    <p style="text-align: justify;">
        Como punto de partida cabe mencionar que mis estudios primarios y secundarios fueron realizados en el Municipio Villa La Mata, 
        Provincia Sánchez Ramírez, República Dominicana, en la Escuela Primaria Villa La Mata y el Liceo Miguel Ángel García Viloria 
        respectivamente, iniciando los primarios en el año 2000 y finalizando en el 2008, para acto seguido continuar con los secundarios 
        durante el periodo 2008 al 2012.
    </p>

    <p style="text-align: justify;">
        Durante el segundo semestre del año 2012 inicié mis estudios de Licenciatura Informática en la Universidad Autónoma De Santo Domingo 
        (UASD) en unos de sus recintos, para ser más específicos en el Centro Universitario Regional Del Nordeste (CURNE), 
        una de las sedes de la UASD ubicada en la ciudad de San Francisco de Macorís (Provincia Duarte, República Dominicana), 
        logrando el título de Licenciado en Informática en el año 2018.
    </p>

    <h4>Formación Extra:</h4>

    <p style="text-align: justify;">
        Programa de inglés por inmersión en el añ0 2017 con una duración de 12 meses. <br>
        Diplomado en desarrollo de aplicaciones con C#. <br>
        Formación continua como autodidacta.
    </p>

    <h6>Varios cursos en el Instituto de Formación Técnica (INFOTEC):</h6>

    <p style="text-align: justify;">
        Curso de diseño de páginas web. <br>
        Curso de CSS y JavaScript. <br>
        Curso de redes domésticas y de pequeños negocios. <br>
        Curso de reparación y mantenimiento de PC. <br>
    </p>

    <p>Para más información de indole personal y laboral <a href="javascript:chargerPage('home.html','contact');">contactame</a></p>

</div>

<div class="col-md-5">
    <img src="./Img/img13.jpg" class="rounded img-fluid mx-auto d-block">
</div>
</div>
