<h3>Manejador de cuentas de usuario</h3>

<p style="text-align: justify;">
    Este sistema de control de cuentas de usuario tiene la finalidad de servir como código base para otros proyectos del mismo 
    entorno que requieran el manejo de cuentas de usuarios y permisos de los mismos dentro del sistema.
</p>
<p style="text-align: justify;">
    <strong>Entorno de ejecución:</strong> Cliente – Servidor.
</p>
<p style="text-align: justify;">
    <strong>Patrón de diseño:</strong> MVC (Modelo Vista Controlador).
</p>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GEaQuPGSP8I" allowfullscreen></iframe>
</div>

<h5 style="text-align: justify; padding-top: 20px;">Tecnologías de construcción y diseño:</h5>
<ul class="list-group">
    <li class="list-group-item">Html</li>
    <li class="list-group-item">CSS</li>
    <li class="list-group-item">Bootstrap</li>
    <li class="list-group-item">Jquery</li>
    <li class="list-group-item">Motor de plantillas Razor</li>
    <li class="list-group-item">Lenguaje de programación C#</li>
    <li class="list-group-item">.Net Framework</li>
    <li class="list-group-item">Entityframework</li>
    <li class="list-group-item">SQLServer</li>
</ul>