<div id="projects" class="row">
    <div class="col-md-12">
        <h2>Proyectos Trabajados</h2>
    </div>
    <div class="col-md-3" onclick="chargerPage('this.html','');">
        <div class="col-md-12 rounded-circle box">
            <img src="./Img/img2.jpg" class="rounded-circle img-fluid mx-auto d-block">
        </div>
        <h5>Esta Web</h5>
        <p>Este sitio web fué desarrollado por mi</p>
    </div>
    <div class="col-md-3" onclick="chargerPage('medicsoft.html','');">
        <div class="col-md-12 rounded-circle box">
            <img src="./Img/img3.jpg" class="rounded-circle img-fluid mx-auto d-block">
        </div>
        <h5>MedicSoft</h5>
        <p>Sistema web para clínicas y hospitales</p>
    </div>
    <div class="col-md-3" onclick="chargerPage('rcsystem.html','');">
        <div class="col-md-12 rounded-circle box">
            <img src="./Img/img4.jpg" class="rounded-circle img-fluid mx-auto d-block">
        </div>
        <h5>RC-System</h5>
        <p>Sistema de escritorio para rentas de autos</p>
    </div>
    <div class="col-md-3" onclick="chargerPage('accounts.html','');">
        <div class="col-md-12 rounded-circle box">
            <img src="./Img/img5.jpg" class="rounded-circle img-fluid mx-auto d-block">
        </div>
        <h5>Manejador De Cuentas</h5>
        <p>Aplicativo web para manejar cuentas de usuario y permisos</p>
    </div>
</div>

<div id="services" class="row rounded">
    <div class="col-md-12">
        <h2>Servicios</h2>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded box">
            <img src="./Img/img6.jpg" class="rounded img-fluid mx-auto d-block">
        </div>
        <h5>Desarrollo de aplicaciones web</h5>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded box">
            <img src="./Img/img7.jpg" class="rounded img-fluid mx-auto d-block">
        </div>
        <h5>Desarrollo de aplicaciones de escritorio</h5>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded box">
            <img src="./Img/img8.jpg" class="rounded img-fluid mx-auto d-block">
        </div>
        <h5>Desarrollo de API</h5>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded box">
            <img src="./Img/img9.jpg" class="rounded img-fluid mx-auto d-block">
        </div>
        <h5>Sitios web personalizados</h5>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded box">
            <img src="./Img/img10.jpg" class="rounded img-fluid mx-auto d-block">
        </div>
        <h5>Diseño de bases de datos relacionales</h5>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded box">
            <img src="./Img/img11.jpg" class="rounded img-fluid mx-auto d-block">
        </div>
        <h5>Tutorias de programación informática</h5>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded box">
            <img src="./Img/img12.jpg" class="rounded img-fluid mx-auto d-block">
        </div>
        <h5>Soporte técnico de computadoras</h5>
    </div>
</div>

<div id="skills" class="row">
    <div class="col-md-12">
        <h2>Conocimientos</h2>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded-circle box">
            <img src="./Img/img14.jpg" class="rounded-circle img-fluid mx-auto d-block">
        </div>
        <h5>HTML 5</h5>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded-circle box">
            <img src="./Img/img15.jpg" class="rounded-circle img-fluid mx-auto d-block">
        </div>
        <h5>CSS 3</h5>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded-circle box">
            <img src="./Img/img16.jpg" class="rounded-circle img-fluid mx-auto d-block">
        </div>
        <h5>BOOTSTRAP</h5>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded-circle box">
            <img src="./Img/img17.jpg" class="rounded-circle img-fluid mx-auto d-block">
        </div>
        <h5>JAVASCRIPT</h5>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded-circle box">
            <img src="./Img/img18.jpg" class="rounded-circle img-fluid mx-auto d-block">
        </div>
        <h5>JQUERY</h5>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded-circle box">
            <img src="./Img/img19.jpg" class="rounded-circle img-fluid mx-auto d-block">
        </div>
        <h5>JSON</h5>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded-circle box">
            <img src="./Img/img20.jpg" class="rounded-circle img-fluid mx-auto d-block">
        </div>
        <h5>C#</h5>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded-circle box">
            <img src="./Img/img21.jpg" class="rounded-circle img-fluid mx-auto d-block">
        </div>
        <h5>.NET</h5>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded-circle box">
            <img src="./Img/img22.jpg" class="rounded-circle img-fluid mx-auto d-block">
        </div>
        <h5>SQL SERVER</h5>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 rounded-circle box">
            <img src="./Img/img23.jpg" class="rounded-circle img-fluid mx-auto d-block">
        </div>
        <h5>MARIA-DB Y MYSQL</h5>
    </div>
</div>

<div id="contact" class="row">
    <div class="col-md-12">
        <h2>Contactame Por Estos Medios</h2>
    </div>

    <div class="col-md-2">
        <div class="col-md-8 rounded contact">
            <a href="https://www.facebook.com/delvi1988" target="blank">
                <img src="./Img/contac1.png" class="rounded img-fluid mx-auto d-block" title="www.facebook.com/delvi1988">
            </a>
        </div>
    </div>
    <div class="col-md-2">
        <div class="col-md-8 rounded contact">
            <a href="mailto:delvi2505@gmail.com" target="blank">
                <img src="./Img/contac2.png" class="rounded img-fluid mx-auto d-block" title="delvi2505@gmail.com">
            </a>
        </div>
    </div>
    <div class="col-md-2">
        <div class="col-md-8 rounded contact">
            <a href="https://api.whatsapp.com/send?phone=18093162048" target="blank">
                <img src="./Img/contac3.png" class="rounded img-fluid mx-auto d-block" title="18093162048">
            </a>
        </div>
    </div>
</div>
