<h3>MedicSoft</h3>

<p style="text-align: justify;">
    MedicSoft es un sistema informático multi-usuarios concebido bajo la idea de apoyar las funciones del área de la salud, automatizando 
    procesos, digitalizando los datos, mejorando la confiabilidad de la información y facilitando su comprensión, análisis y consulta.
</p>
<p style="text-align: justify;">
    <strong>Entorno de ejecución:</strong> Cliente – Servidor (Back-end sobre Windows).
</p>
<p style="text-align: justify;">
    <strong>Patrón de diseño:</strong> MVC (Modelo Vista Controlador).
</p>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ms4Wnv9pRiw" allowfullscreen></iframe>
</div>

<h5 style="text-align: justify; padding-top: 20px;">Tecnologías de construcción y diseño:</h5>
<ul class="list-group">
    <li class="list-group-item">Html</li>
    <li class="list-group-item">CSS</li>
    <li class="list-group-item">Bootstrap</li>
    <li class="list-group-item">JavaScript</li>
    <li class="list-group-item">Jquery</li>
    <li class="list-group-item">Motor de plantillas Razor</li>
    <li class="list-group-item">Lenguaje de programación C#</li>
    <li class="list-group-item">.Net Framework</li>
    <li class="list-group-item">Entityframework</li>
    <li class="list-group-item">MariaDB</li>
</ul>