<h3>RC-System</h3>

<p style="text-align: justify;">
    RC-System es un sistema informático de escritorio multi-usuarios dirigidos a empresas de alquiler de autos el cual les permite 
    automatizar sus procesos y llevar un mejor control y organización de su actividad.
</p>
<p style="text-align: justify;">
    <strong>Entorno de ejecución:</strong> Cliente – Servidor.
</p>
<p style="text-align: justify;">
    <strong>Patrón de diseño:</strong> MVC (Modelo Vista Controlador).
</p>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qVQkUhupmN4" allowfullscreen></iframe>
</div>

<h5 style="text-align: justify; padding-top: 20px;">Tecnologías de construcción y diseño:</h5>
<ul class="list-group">
    <li class="list-group-item">Windows Forms</li>
    <li class="list-group-item">Lenguaje de programación C#</li>
    <li class="list-group-item">.Net Framework</li>
    <li class="list-group-item">MariaDB</li>
</ul>