<h3>Hernández Web</h3>

<p style="text-align: justify;">
    He construido esta web principalmente para que sirva como punto de referencia de mis habilidades, conocimientos y proyectos 
    en mi profesión (Desarrollo de Software) para aquellas personas con interés en conocer mejor mi perfil laboral.
</p>

<h5 style="text-align: justify;">Tecnologías de construcción y diseño de este sitio web:</h5>
<ul class="list-group">
    <li class="list-group-item">Html</li>
    <li class="list-group-item">CSS</li>
    <li class="list-group-item">Bootstrap</li>
    <li class="list-group-item">JavaScript</li>
</ul>